:root {
    --button-bg-color: #007bff;
    --button-text-color: #ffffff;
    --button-hover-bg-color: #0056b3;
    --button-active-bg-color: #004085;
    --text-color: #ffffff;
    --border-color: #ccc;
    --input-focus-border-color: #007bff;
    --primary-bg-color: #1e1e1e;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
}

.bot-config-container {
    max-width: 800px;
    padding: 50px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 3px 15px var(--box-shadow-color);
    color: var(--text-color);
}

.bot-config-container h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.bot-config-container .config-section {
    margin-bottom: 30px;
}

.bot-config-container .config-section h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e4e8;
    padding-bottom: 10px;
    color: #fff;
}

.bot-config-container .config-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.bot-config-container .config-row label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 20px;
}

.bot-config-container select {
    background: none;
    border: none;
    border-color: var(--border-color);
    padding: 10px;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 10px;
    outline: none;
}

.bot-config-container select:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 3px 15px var(--box-shadow-color);
}

.bot-config-container select:hover {
    cursor: pointer;
}

.bot-config-container button {
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    justify-content: center;
}

.bot-config-container button:hover {
    background-color: var(--button-hover-bg-color);
    box-shadow: 0 3px 15px var(--box-shadow-color);
    transform: translateY(-2px);
}

.bot-config-container button:active {
    transform: translateY(0px);
    background-color: var(--button-active-bg-color);
    box-shadow: 0 1px 5px var(--box-shadow-color);
}

.confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.confirmation-content {
    max-width: 400px;
    padding: 20px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    box-shadow: 0 0 15px var(--box-shadow-color);
    text-align: center;
}

.confirmation-content button {
    background-color: var(--button-bg-color);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.confirmation-content button:hover {
    background-color: var(--button-hover-bg-color);
}

.no-changes-popup {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}