.dashboard {
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #e2dddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dashboard-title {
    font-size: 2.5em;
}

.dashboard-subtitle {
    font-size: 2em;
}

.server-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.server-item {
    width: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}

.server-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.server-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.server-name {
    color: #e2dddd;
    font-size: 1.2em;
    margin-top: 10px;
    word-break: break-word;
}

.server-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.no-servers-message {
    font-size: 1.5em;
    margin-top: 20px;
    color: inherit;
    text-align: center;
    padding: 20px;
    border: 2px dashed currentColor;
    border-radius: 8px;
    transition: color 0.3s ease;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.server-loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}


.error-message {
    background-color: #f44336;
    color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}